body {
padding-top:4.5rem;
background-image: url(./resimler/c.png);
background-size: cover;
background-position: center;
margin: 0;
font-family: Arial, sans-serif;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgb(117, 84, 148);
}

.small-image {
    position: relative;
    width: 200px;
    height: 200px;
    opacity: 0.5; /* Başlangıçta yarı saydamlık */
    transition: width 1s ease, height 1s ease, opacity 1s ease; /* Geçiş animasyonları */
  }
  
  .small-image:hover {
    width: 300px; /* Resmin genişliğini büyütür */
    height: 300px; /* Resmin yüksekliğini büyütür */
    opacity: 1; /* Resmi tamamen opak yapar */
  }

ul {
padding: 0;
margin: 0;
list-style: none;

}
ul li{
    float: left;
    position: relative;
    width: 150px;
}

ul li a{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(165, 75, 250);
    text-align: center;
    color: #fff;
    text-decoration: none;

}
ul li a:hover{
    background-color: rgb(60, 7, 109);
}
main div h1{
    text-align: center;
    margin-top: 100px;
    padding: 20px;
}
main div img{
    border-radius:50% ;
    overflow: hidden;
    width: 500px;
    height: auto;
    float: left;
    margin-left: 120px;
}
main div p{
    text-align: center;
    width: auto;
    height: 1000px;
}


  
.jumbatron{
    text-align: center;
    

}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content:flex-start ;
}



.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none; /* Changed to remove bullet points */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.menu-toggle {
    display: block;
}

.menu-icon {
    
    position: absolute;
    cursor: pointer;
    font-size: 34px;
    color: #fff;
    right: 20px;/* Sağa sabitle ve sağdan 20 piksel içeri al */
    background-color: transparent;
    top: 5px;
    bottom: 5px;
}
.menu-icon:hover {
    color: rgb(219, 141, 247); /* Fare üzerine geldiğinde ikon rengini değiştir */
}


@media only screen and (max-width: 400px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: block; 
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
        padding: 10px 0;
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-toggle {
        flex-direction: column;
        align-items: flex-end;
    }

    #toggle:checked ~ .menu-toggle .nav-links {
        display: flex;
    }
}
/*yazar carouseli*/

.carousel-container {
    width: 90%; 
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-yazarlar {
    display: flex;
  }
  
  .author {
    flex: 0 0 auto;
    text-align: center;
    margin-right: 20px; 
  }
  
  .author img {
    width: 150px; 
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;

  }
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  .left-arrow {
    left: 0;
    display: block;
  }
  
  .right-arrow {
    right: 0;
    display: block;
  }
 

/*yazar carouselinin sonu*/

/*müzik çaldırmak için*/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* burda bitti*/
.carousel-item {
    position: relative;
    text-align: center;
  }
  
  .carousel-item img {
    width: 80%;
    height: 600px;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  #scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #c14ece;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    z-index: 99;
}

#scrollTopBtn:hover {
    background-color: #8900b371;
}
#scrollBottomBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 80px;
  background-color: #c14ece;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  z-index: 99;
}

#scrollBottomBtn:hover {
  background-color: #8900b371;
}
.text-muted {
    display: inline-block;
    margin-right: 20px;
}
/*liste için*/
#kitapListesi {
  list-style-type: none; /* Liste işaretlerini kaldırır */
  padding: 0;
}

#kitapListesi li {
  padding: 10px;
  border-bottom: 1px solid #ccc; /* Her kitap arasına ince bir çizgi ekler */
}

/* Buton stilleri */
button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* İlgili butonların farklı renk stilleri */
#gizleButton {
  background-color: #ff6666;
  color: white;
  border: none;
}

#gosterButton {
  background-color: #66cc66;
  color: white;
  border: none;
}